@using MVC.Services.Interfaces

@inject IIdentityParser<ApplicationUser> UserManager

@if (Context.User.Identity.IsAuthenticated)
{
    <section class="col-lg-4 col-md-5 col-xs-12">
        <div class="esh-identity">
            <form asp-area="" asp-controller="Account" asp-action="SignOut" method="post" id="logoutForm" class="navbar-right">
                <section class="esh-identity-section">

                    <div class="esh-identity-name">@UserManager.Parse(User).Name</div>
                </section>

                <section class="esh-identity-drop" style="background:#f0ecec;">
                    
                    <a class="esh-identity-item"
                       href="javascript:document.getElementById('logoutForm').submit()">

                        <div class="esh-identity-name esh-identity-name--upper">Log Out</div>
                        <img class="esh-identity-image" src="~/images/logout.png">
                    </a>
                </section>
            </form>
        </div>

                    
                    @{
                        if (!string.IsNullOrEmpty(Context.Session.GetString("productsSelection"))){
                <div class="esh-cart" style="opacity:100%;"><a href="~/Cart.html"><img src="~/images/cart.png"/></a></div>
            }
            else
            {
                <div class="esh-cart"><a href="~/Cart.html"><img src="~/images/cart.png"/></a></div>
            }
        }

    </section>
}
else
{
    <section class="col-lg-4 col-md-5 col-xs-12">
        <div class="esh-identity">
            <section class="esh-identity-section">
                <div class="esh-identity-item">

                    <a asp-area="" asp-controller="Account" asp-action="SignIn" class="esh-identity-name esh-identity-name--upper">
                        Login
                    </a>
                </div>
            </section>
        </div>
    </section>

    <section class="col-lg-1 col-xs-12">

    </section>
}

<style>
    .esh-cart{
    opacity:0%;
    width: fit-content;
    position: absolute;
    top: 5%;
    right: -40%;
    transition:1s;
    }
    .esh-identity-name:hover{
        color:#ff7474;
    }
</style>
